.l3-base{
    margin: 0px;
    position: absolute;
    background-color: rgba(62, 62, 62, 0.9);
    color: white;
    top: 858px;
    left: 30px;
    height: 184px;
    font-size: 56px;
    width: 1440px;
}

.l3-color-1{
    color: #EC6F2B;
}

.l3-color-2{
    color:#F5E5C1;
}


.matchInfoClass{
    position: absolute;
    font-size: 52px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 976px;
    left: 43px;
}

.orgName{
    position: absolute;
    left: 43px;
    top: 868px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 43px;
    color: #F4722B;
}

.mapsListClass{
    position: absolute;
    right:455px;
    top: 868px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F4722B;
    text-align: right;
    font-size: 34px;
}

.matchUP{
    position: absolute;
    right:455px;
    top: 976px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F5E5C1;
    text-align: right;
    font-size: 52px;
}

/*CASTER AND PRODUCER BOX RULES*/
.casterName1{
    position: absolute;
    top: 801px;
    left: 30px;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #3E3E3E;
    width: 300px;
    height: 50px;
    color: #F4722B;
    text-align: center;
    opacity: 0.0;
}
.casterName2{
    position: absolute;
    top: 801px;
    left: 340px;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #3E3E3E;
    width: 300px;
    height: 50px;
    color: #F4722B;
    text-align: center;
    opacity: 0.0;
}
.producerName{
    position: absolute;
    top: 801px;
    left: 650px;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #3E3E3E;
    width: 300px;
    height: 50px;
    color: #F4722B;
    text-align: center;
    opacity: 0.0;
}

